<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="databases/cards.js"></script>
  <script src="databases/labels.js"></script>
  <title>Voltorb Flip</title>
</head>
<body>
  <div id="general-container" ng-app="voltorbFlipGame">
    <div id="board" ng-controller="TableCtrl">
      <div ng-repeat="x in cards"></div>
    </div>
    <div id="rightBar">
      <div id="right-buttons-container" ng-repeat="x in labels"></div>
    </div>
    <div id="bottomBar">
      <div id="bottom-buttons-container" ng-repeat="x in labels"></div>
    </div>
  </div>
  <script src="logic.js"></script>
  <script src="controllers.js"></script>
  <script src="generation.js"></script>
</body>
</html>