<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Voltorb Flip</title>
</head>
<body>
  <div id="general-container" ng-app="voltorbFlipGame">
    <div id="board" ng-controller="TableCtrl">
      <div ng-repeat="x in cards">
        <span ng-click="flips($index)"><button class="card" id="card-{{x.id}}"></button></span>
      </div>
    </div>
    <div id="rightBar" ng-controller="BorderCtrl">
      <div id="right-buttons-container" ng-repeat="x in labels">
        <div class="refer-bars-button">
          <input type="number" name="sum-{{x.id}}" id="right-sum-card-{{x.id}}" ng-value={{x.sum}} min="0"> <b class="label-ref">S</b>
          <input type="number" name="sum-{{x.id}}" id="right-voltorb-card-{{x.id}}" ng-value={{x.voltorb}} min="0" max="5"><img src="Voltorb.png" alt="LabelVoltorb" class="label-ref">
        </div>
      </div>
    </div>
    <div id="bottomBar" ng-controller="BorderCtrl">
      <div id="bottom-buttons-container" ng-repeat="x in labels">
        <div class="refer-bars-button">
          <input type="number" name="sum-{{x.id}}" id="bottom-sum-card-{{x.id}}" ng-value={{x.sum}} min="0"> <b class="label-ref">S</b>
          <input type="number" name="sum-{{x.id}}" id="bottom-voltorb-card-{{x.id}}" ng-value={{x.voltorb}} min="0" max="5"><img src="Voltorb.png" alt="LabelVoltorb" class="label-ref">
        </div>
      </div>
    </div>
  </div>
  <script src="logic.js"></script>
  <script src="events.js"></script>
  <script src="generation.js"></script>
</body>
</html>